
DATABASE_URL="postgresql://username:password@host:5432/hwl"

# AUTH 
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="" #base64

GITHUB_CLIENT_ID="XxXXXXXXXXXXXXXXXXXX"
GITHUB_CLIENT_SECRET="XXXXXXXXXXXXXXXXXXXX"

GOOGLE_CLIENT_ID="XXXXXXXXXXXXXXXXXXXX"
GOOGLE_CLIENT_SECRET="XXXXXXXXXXXXXXXXXXXX"

# FONTAWESOME PRO
FONTAWESOME_NPM_AUTH_TOKEN="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"


# CONFIG COOKIE ROOM AKTIF
NEXT_PUBLIC_ACTIVE_ROOM_COOKIE="active_room"