@import "tailwindcss";

:root {
    --background: #09090c;
    --foreground: #ededed;
}

@theme inline {
    --color-hl-bg: #09090c;
    --color-hl-text: #ededed;
    --color-hl-primary: #191923;
    --font-sans: var(--font-rubik-sans);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-jetbrains), monospace;
    font-variant-ligatures: none;
    font-feature-settings: 'liga' 0, 'clig' 0;
}

@layer components {
    .minMaxWidth {
        @apply min-w-full max-w-full w-full;
    }

    .bottomBarBtnActive {
        @apply **:font-medium scale-110 hover:scale-112;
    }

    .bottomBarBtnNonActive {
        @apply **:font-light scale-100 hover:scale-102;
    }

    .bottomBarBtnActive span {
        @apply group-hover:font-light;
    }

    .bottomBarBtnNonActive span {
        @apply group-hover:font-thin;
    }

}


.hl-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #191923 #09090c;
}

.hl-scrollbar::-webkit-scrollbar {
    width: 8px;
    background: #09090c;
}

.hl-scrollbar::-webkit-scrollbar-thumb {
    background: #191923;
    border-radius: 8px;
}

.hl-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--foreground);
}


@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        opacity: 1;
        filter: drop-shadow(0 0 0.3rem #fff);
    }
    20%, 24%, 55% {
        opacity: 0.4;
        filter: none;
    }
}

/* Gunakan dengan class ini */
.flicker {
    animation: flicker 2s infinite ease-in-out;
}

